@use 'colors' as c;
@use 'media-queries' as q;
@use 'typography' as type;

.container {
  background-color: c.$platinum;
  color: c.$eerie-black;
  padding: 2rem;
  font-family: type.$font-primary;
  height: auto;
  &__title {
    text-align: center;
  }
  &--contact {
    @include q.at-least-tablet {
      section {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      }
    }
  }
}

#home-page {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 273px);
  @include q.at-least-tablet {
    justify-content: space-around;
    height: fit-content;
  }
  align-items: stretch;
  padding: 0;
  width: 100%;
  background-color: c.$eerie-black;
  color: c.$platinum;
  border-bottom: 1px solid darken(c.$platinum, 20%);
  overflow-x: clip;
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 2em;
    margin: auto 0;
  }
}

//these will be a bit different and specific from the rest of the container
#icon-fb,
#icon-ig,
#icon-behance {
  font-size: 20px;
  color: c.$eerie-black;
}
