@use './media-queries' as q;
.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  @media screen and (min-width: q.$query-phone) {
    grid-column-start: 1;
  }
  @media screen and (min-width: q.$query-tablet) {
    // width: 80%;
  }
  &__block {
    display: flex;
    flex-direction: column;
    width: auto;
    @media screen and (min-width: q.$query-tablet) {
      flex-direction: row;
      &:last-child {
        flex-direction: column;
        align-items: flex-start;
      }
    }
    align-items: center;
    padding: 1em 0;
  }
  &__label {
    padding: 0.5em 0;
    @media screen and (min-width: q.$query-tablet) {
      padding: 0 1em 0 0;
      white-space: nowrap;
    }
  }
}
//Special rule exceptions for certain ids
#last-name__label {
  @media screen and (min-width: q.$query-tablet) {
    padding-left: 1em;
  }
}

#message {
  @media screen and (min-width: q.$query-tablet) {
    width: calc(100% - 2em);
  }
  &__label {
    @media screen and (min-width: q.$query-tablet) {
      padding-bottom: 1em;
    }
  }
}
