@use 'media-queries' as q;
.gallery {
  display: flex;
  flex-direction: column;
  @include q.at-least-tablet {
    flex-direction: row;
  }
  @include q.laptop {
    // padding: 0 100px;
  }
}

#gallery-description {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
