@use 'colors' as c;
@use 'media-queries' as q;

.series {
  display: flex;
  flex-direction: column;
  width: fit-content;
  @include q.at-least-tablet {
    // width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 330px;
    justify-content: space-around;
  }
  &__artwork {
    padding: 0;
    @include q.at-least-tablet {
      max-width: 30%;
    }
    &__picture {
      width: 100%;
      height: auto;
      user-select: none;
    }
    &__title {
      text-align: center;
    }
  }
}
