@use 'colors' as c;
@use 'media-queries' as q;
.series {
  display: block;
  margin: 0 auto;
  padding: 1rem;
  text-decoration: none;
  @include q.phone {
    // max-width: 90%;
  }
  @include q.at-least-tablet {
    max-width: 330px;
  }
  &__image {
    width: 100%;
    @include q.laptop {
      &:hover {
        filter: blur(2px);
      }
    }
  }
  &__caption {
    color: c.$eerie-black;
    text-align: center;
    font-size: 1.5rem;
    @include q.at-least-tablet {
      position: relative;
    }
    @include q.tablet {
      top: -25%;
    }
    @include q.laptop {
      top: -50%;
      font-size: 2rem;
    }
  }
}
