@use './colors' as c;
@use './media-queries' as q;
.social {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: auto;
  @include q.at-least-tablet {
    padding: 2rem;
  }
  &__text {
    text-align: center;
    padding-bottom: 1rem;
  }
  &__logos {
    display: flex;
    justify-content: space-evenly;
    @include q.at-least-tablet {
      margin: 0 auto;
    }
    @include q.tablet {
      width: 75%;
    }
    @include q.laptop {
      width: 40%;
      &:hover {
        a svg {
          color: c.$winter-sky;
        }
      }
    }
  }
}
