@use 'colors' as c;
@use 'media-queries' as q;
@use 'mixins' as mix;
@use 'typography' as type;

.textarea {
  @include mix.round-and-pad(1em);
  border: 1px solid c.$eerie-black;
  font-family: type.$font-primary;
  resize: none;
  width: auto;
}
