:root {
  --font-main: address-sans-pro, sans-serif;
}

body {
  background-color: var(--platinum);
  font-family: var(--font-main);
  font-weight: 400;
  font-style: normal;
}

span {
  display: inherit;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

p h1 h2 h3 h4 {
  color: var(--eerie-black);
}

form {
  display: inherit;
  flex-wrap: inherit;
  width: 100%;
  padding: 2em 0em;
}

input,
textarea {
  width: 100%;
  padding: 1em;
  margin: 1em 0;
  background: none;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom: 1px solid black;
}
button {
  padding: 1em;
  background-color: var(--eerie-black);
  color: var(--ghost-white);
  border-style: none;
  border-radius: 1rem;
}
button:hover {
  color: var(--carolina-blue);
}
button:active {
  background-color: var(--winter-sky);
}

footer {
  display: var(--flex-display);
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: var(--eerie-black);
  padding: 1em;
}
/*---Beginning of navbar styling---*/
.nav-bar {
  display: var(--flex-display);
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--eerie-black);
  position: sticky;
  left: 0;
  top: 0;
}
.nav-bar img {
  display: block;
  width: 30%;
  padding: 1rem;
}

.nav-links {
  display: var(--flex-display);
  min-width: 200px;
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: space-evenly;
  align-content: center;
  list-style: none;
}
.nav-links .icon {
  display: none;
}
.nav-links a {
  color: var(--ghost-white);
}

.nav-links a:hover {
  color: var(--winter-sky);
}

/*---End of navbar styling---*/
.container-primary {
  display: var(--flex-display);
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 80%;
  min-height: 400px;
  margin: 0 auto; /*center the section*/
  padding: 1em 2em;
  animation-name: fade-in;
  animation-duration: 2s;
}

#home-page {
  display: var(--flex-display);
  flex-wrap: wrap;
  padding: 1rem;
  font-size: 200%;
}
/*About page*/

#profile-photo {
  max-width: 200px;
  max-height: 200px;
}

#cv-or-features button {
  background-color: rgba(0, 0, 0, 0);
  color: var(--eerie-black);
  margin: 1rem 0rem;
  padding: 1rem;
}

#cv-or-features button:hover {
  color: var(--winter-sky);
}

#sm-logos {
  display: inherit;
  width: 30%;
  margin: 0 auto;
  padding: 1em;
  justify-content: space-evenly;
}

#sm-logos a {
  color: var(--eerie-black);
}
/*Contact page*/
#message {
  height: 10rem;
  max-width: 100%;
  font-family: var(--font-main);
}
#submit-form button {
  margin-left: auto;
}
/*Footer*/
#footer-support {
  flex-wrap: wrap;
  width: 40%;
  align-content: center;
  justify-content: space-evenly;
  margin: 0 auto;
  padding: 0 1em;
}
/*~~~~~~~~~~Collapsible navbar items for smaller mobile displays~~~~~~~~~~~~~*/
@media screen and (max-width: 600px) {
  .nav-links a {
    display: none;
  }
  .nav-links a.icon {
    display: block;
    float: right;
    margin-left: auto;
    padding: 1rem;
  }
}
@media screen and (max-width: 600px) {
  .nav-links.responsive {
    position: relative;
    width: 75%;
  }
  .nav-links.responsive a:not(:nth-child(4)) {
    display: block;
    text-align: left;
    margin-top: 30%;
  }
  .nav-links.responsive a.icon {
    position: fixed;
    padding: 1rem;
    right: 0;
    top: 0;
  }
}
/*~~~~~animations~~~~~~~*/
@keyframes fade-in {
  from {
    color: rgba(0, 0, 0, 0);
  }
  to {
    color: var(--primary-txt-color);
  }
}
