@use 'colors' as c;
@use 'media-queries' as q;
@use 'typography' as type;

.container {
  background-color: c.$platinum;
  color: c.$eerie-black;
  padding: 2rem;
  font-family: type.$font-primary;
  min-height: calc(100vh - 258px);
  &__title {
    text-align: center;
  }
  label {
    display: block;
  }
}

//these will be a bit different and specific from the rest of the container
#icon-fb,
#icon-ig,
#icon-behance {
  font-size: 20px;
  color: c.$eerie-black;
}
