@use 'media-queries' as q;
.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 250vh;
  max-height: 380vw;
  @media screen and (min-width: q.$query-phone) {
    height: 500vh;
    max-height: 390vw;
  }
  @media screen and (min-width: q.$query-tablet) {
    height: 600vh;
  }
  @media screen and (min-width: q.$query-laptop) {
    height: 200vh;
    max-height: 110vw;
  }
  iframe {
    width: 80%;
    height: 100%;
  }
}

#gallery-description {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
