@use './media-queries' as q;
.social {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  &__text {
    text-align: center;
    padding-bottom: 1rem;
  }
  &__logos {
    display: flex;
    justify-content: space-evenly;
    @media screen and (min-width: q.$query-phone) {
      margin: 0 auto;
      width: 40%;
    }
  }
}
